
/* markers */
/*.grid-container0, .grid-container1 {
	border: solid 1px blue; }
.grid-container0 .grid-item, .grid-container1 .grid-item {
	border: solid 1px red; }
.grid-container1 .grid-item {
	border: solid 1px #ddd; }*/
/* end markers */

.container {
	border: solid 5px #131218 !important;
	padding: 0px 10px;
	}

.grid-item {
	text-align:center;
}

.g3 { 
	border-radius: 144px 10px 10px 10px; }
.g4 { 
	border-radius: 10px 144px 10px 10px; }
.g5, .g6, .g7 { 
	border-radius: 10px 10px 10px 10px; }
.g8 { 
	border-radius: 10px 10px 144px 144px; }

.block2-2 { 
	border-radius: 0     144px   0   144px; }

.block2-1, .block2-2 { border: solid 1px #999; }

/* grid 0 */
.grid-container0 {
	/*display: grid;*/
	/*display: inline-grid;*/
	
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 55px 89px 34px;
	  
	/*justify-content: space-evenly;
	justify-content: space-around;
	justify-content: space-between;
	/*justify-content: center;
	/*justify-content: start;
	/*justify-content: end;*/
	
	grid-column-gap: 21px;
	grid-row-gap: 13px;
	grid-gap: 21px 34px;

	width: 100%;
	} 
  
.grid-container0 .grid-item {
	border: solid 1px #ddd;
	align-content: center !important;
	}

.grid-container0 .g1 {
	/*grid-column-start: 1;
	grid-column-end: 3;*/

	/*grid-row-start: 1;
	grid-row-end: 3;*/
	
	/*grid-column: 1 / span 1;
	grid-row: 1 / span 4;*/
} 

.grid-container0 .g4 {
   grid-area: 1 / 2 / span 2 / span 1;
}

.grid-container0 .g9 {
	grid-column: 1 / span 2;
}

/* grid 1 */
.grid-container1 {
	margin: 50px 0px;
	width: 100%;
	/*display: grid;*/
	/*display: inline-grid;*/
	
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 263px auto;
	  
	/*justify-content: space-evenly;
	justify-content: space-around;
	justify-content: space-between;
	/*justify-content: center;
	/*justify-content: start;
	/*justify-content: end;*/
	
	grid-column-gap: 21px;
	grid-row-gap: 13px;
	grid-gap: 21px 34px;

	} 
  
.grid-container1 .grid-item {
	align-content: center !important;
	/*padding:10px;*/
	}


.grid-container1 .g1 {
	/*grid-column-start: 1;
	grid-column-end: 3;*/

	/*grid-row-start: 1;
	grid-row-end: 3;*/
	
	/*grid-column: 1 / span 1;
	grid-row: 1 / span 4;*/
} 

.grid-container1 .g2 { grid-area: 1 / 2 / span 2 / span 1; }
.grid-container1 .g3 { grid-area: 2 / 1 / span 1 / span 1; }
.grid-container1 .g4 { grid-area: 3 / 1 / span 1 / span 2; }
.grid-container1 .g5 { grid-area: 4 / 1 / span 1 / span 2; }
.grid-container1 .g6 { grid-area: 5 / 1 / span 1 / span 2; }
.grid-container1 .g7 { grid-area: 6 / 1 / span 1 / span 2; }
.grid-container1 .g8 { grid-area: 7 / 1 / span 1 / span 2; }


#cmb {
	border-radius: 0px 55px 0px 0px; 
	margin: 6px 29px -15px 29px;
	/*border: solid 7px #34443a;*/ 
	border: solid 1px #273c33;
	}

.g1 .w13   { opacity: 0.89; }
.grid-item { opacity: 0.89; }

.container {
background-image: url("images/book/book-002.jpeg");
background-size: cover;
background-clip: border-box;
background-position: left;
}
/*.g2 { background-image: url("images/book/book-002.jpeg"); }*/


.tel a {
	text-decoration: none;
	color: #000;
}
.tel {
	font-weight: bold;
	line-height: 30px !important;
}
.skp {
	line-height: 20px !important;
}
.tel img {
	width: 75px !important;
}
.wsp img {
	width: 100px !important;
}
.skp img {
	width: 75px !important;
}
.cv { 
	font-size: 34px;
	font-weight: bold;
	}

